<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title></title>
  </head>
  <body>

=======
    <title>KWK</title>
  </head>
  <body>
<<<<<<< HEAD
<a href="/views/quiz.erb">Click here for quiz</a>
>>>>>>> 685926b411cdb0c1c3b01f3b172bac681df9ae51
=======
<a href="/quiz">Click here for quiz</a>
>>>>>>> 83221241b08a3ed2bb216e30d4279b91655cc96c
  </body>
</html>
